body {
    margin: 0px;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.header {
    background-color: yellow;
}

.sidebar {
    background-color: skyblue;
    grid-row: 1 / 3;
}

.main-content {
    background-color: lightgray;
}